<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>
    
    <%- include('./partials/nav.ejs')  %>

<div class="About Content">
    <h2>About we</h2>
    <p>HOLA COMO ESTAN ME LLAMO JEZREEL</p>
    <p>HOLA COMO ESTAN ME LLAMO JEZREEL</p>
    <p>HOLA COMO ESTAN ME LLAMO JEZREEL</p>
</div>

<%- include('./partials/footer.ejs')  %>
</body>
</html>